@import "config";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

#background {
  @extend body;
  @include background;
}

#secondaryBackground {
  @extend body;
  @include secondary-background;
}

#flatBackground {
  @extend body;
  background: linear-gradient(
    to bottom right,
    darken($primary-color, 15),
    $primary-color
  );
}

.cursor-gone {
  cursor: none;
}

#frontpage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#artistPage {
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#worksPage {
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

#cursorHeading {
  position: fixed;
  margin: 0;
  z-index: 1000;
  display: block;
  user-select: none;
  color: $secondary-color;
}

#cursorMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  cursor: auto;
  display: none;
  @include easeOut;
}

.menu-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $secondary-color;
  text-align: center;

  ul li a {
    color: $secondary-color;
    text-decoration: none;
    font-size: 24px;
    display: block;
    margin: 10px 0;

    &.current {
      text-decoration: underline;
    }
  }
}

#navbar {
  background: none;
  padding: 1rem 2rem;
  align-items: center;
  width: 100%;
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav-links ul {
    list-style: none;
    padding: 0;
    font-size: 24px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    li {
      margin: 0 15px;
      a {
        text-decoration: none;
        color: $secondary-color;
        &:hover {
          text-decoration: underline;
        }
        &.current {
          text-decoration: underline;
        }
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 100;
  color: $secondary-color;

  &.large-heading {
    font-size: 4rem;
  }
  &.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.2rem;
  }
  &.tiny-heading {
    color: rgba(lighten($primary-color, 20), 1);
  }
}

.header-container {
  text-align: right;
  width: 100%;
  padding: 10px;
}

.split-screen {
  display: flex;
  height: calc(100vh - 450px);

  .image,
  .text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    p {
      color: $secondary-color;
      font-size: 24px;
    }

    &.image {
      img {
        max-width: 50%;
        height: auto;
      }
    }
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 35vh 35vh;
  gap: 2px 5px;

  .image-item {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 70%;
      padding: 3px;
      @include easeOut;
    }

    .overlay-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 73%;
      background: rgba(0, 0, 0, 0.2);
      color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      text-align: center;
      padding: 10px;
      @include easeOut;
    }

    &:hover {
      img {
        transform: scale(1.1);
        @include easeOut;
      }

      .overlay-text {
        opacity: 1;
        @include easeOut;
      }
    }
  }
}

#mainFooter {
  text-align: center;
  padding: 1rem;
  color: $secondary-color;
}

@import "mobile";
